# Bonus: Temperature Analysis I

In [30]:
import pandas as pd
from datetime import datetime as dt
import numpy as np

In [31]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [32]:
# Convert the date column format from string to datetime
df.date = pd.to_datetime(df.date)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 534.6+ KB

In [33]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19550 entries, 2010-01-01 to 2017-08-23
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   prcp     18103 non-null  float64
 2   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 534.6+ KB

In [41]:
# Drop the date column
#df2 = df.drop(df.['date'], axis=1)
#df2.head()

SyntaxError: invalid syntax (<ipython-input-41-b96a6ca973c5>, line 2)

### Compare June and December data across all years

In [42]:
from scipy import stats

In [ ]:
# Filter data for desired months
#data = df.date.isin()

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis